.header {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}

.header .container {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-txt-color);
}
